.project {
  min-width: 308px;
  flex: 1 1 calc(33.333% - 2rem);
  margin: 1rem;
  
  @media (max-width: 1024px) {
    flex: 1 1 calc(50% - 2rem);
  }
  
  @media (max-width: 768px) {
    flex: 1 1 100%;
    margin: 1rem 0;
  }
}

.section.no-h-padding {
  padding: 3rem 0;
}

.projectsContainer {
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 2000px;
  margin: auto;
  gap: 0;
  
  @media (max-width: 768px) {
    padding: 20px 40px;
    flex-direction: column;
  }
}
